<div class="row input__group">
    <div class="column--md--4">
        <input type="text" readonly=true/>
        {{!--{{input type="text" value=value readonly=true}}--}}
    </div>
    <div class="column--md--2">
        <button type="button" class="button button--secondary datepicker" data-date-format="" data-date="">
            <span class="juicon juicon-calendar"></span>
        </button>
    </div>
</div>